{% extends 'base.html' %}
{% block title %}Create Interview{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
<script src="{{ url_for('static', filename='static/js/confirmation.js') }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <h1>Welcome, Applicant!</h1>
    <p>Role: {{ role }}</p>
    <p>Industry: {{ industry }}</p>
    <p>HR Contact: {{ hr_email }}</p>
    <form action="{{ url_for('main.applicant_home', hr_id = hr_id, interview_parameter_id=interview_parameter_id) }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <button type="submit" class="btn btn-primary start-interview-btn" data-action="start-itw">Start Interview</button>    </form>


<!-- Confirmation Modal -->
<div id="confirmation-modal" class="modal">
    <div class="modal-content">
        <p id="confirmation-message">Are you sure you want to create this interview?</p>
        <button id="confirm-yes">Yes</button>
        <button id="confirm-no">No</button>
    </div>
</div>

{% endblock %}