{% extends 'base_admin_authenticated.html' %}

{% block title %}Admin Homepage{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
<script src="{{ url_for('static', filename='static/js/admin_logout.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/manage_windows.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/confirmation.js') }}"></script>
<body>
    <h1>Welcome, {{ admin.name }} {{ admin.surname }}</h1>
    <h3>Key Performance Indicators</h3>
    <!-- KPIs Section -->
    <div class="kpis">
        <div class="kpi">
            <h3>Total HR</h3>
            <p>{{ total_hr }}</p>
        </div>
        <div class="kpi">
            <h3>Total Interviews Created</h3>
            <p>{{ total_interviews }}</p>
        </div>
        <div class="kpi">
            <h3>Total Interviews Passed</h3>
            <p>{{ total_sessions }}</p>
        </div>
    </div>
   <!-- Mean Ratings Section -->
   <div class="mean-ratings">
    <h3>Mean Review Ratings per Question</h3>
    <table border="1">
        <tr>
            <th>Question</th>
            <th>Mean Rating</th>
            <th>Number of Ratings</th>
        </tr>
        {% for question, data in question_ratings.items() %}
        <tr>
            <td>{{ question }}</td>
            <td>{{ data.avg_rating }}</td>
            <td>{{ data.rating_count }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <h3>HR List</h3>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Company</th>
            <th>Confirmed</th>
            <th>Date of Subscription</th>
            <th>View Infos</th>
            <th>Action</th>
        </tr>
        {% for hr in hrs %}
        <tr class="{% if not hr.confirmed %}pending{% endif %}">
            <td>{{ hr.name }}</td>
            <td>{{ hr.surname }}</td>
            <td>{{ hr.email }}</td>
            <td>{{ hr.company.name }}</td>
            <td>{{ hr.confirmed }}</td>
            <td>{{ hr.created_at.strftime('%d.%m.%Y') }}</td>
            <td><a href="{{ url_for('admin.view_hr_info', hr_id=hr.id, admin_id=admin.id) }}">View Infos</a></td>
            <td>
                {% if not hr.confirmed %}
                <a href="{{ url_for('admin.confirm_account', hr_id=hr.id, admin_id=admin.id) }}}" class="review-button">Review</a>
                {% else %}
                <form class="delete-hr-form" action="{{ url_for('admin.delete_hr', hr_id=hr.id) }}" method="POST">
                    <button type="button" class="btn btn-danger" data-action="delete">Delete</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Confirmation Modal -->
<div id="confirmation-modal" class="modal">
    <div class="modal-content">
        <p id="confirmation-message">Are you sure you want to perform this action?</p>
        <button id="confirm-yes">Yes</button>
        <button id="confirm-no">No</button>
    </div>
</div>
</body>
{% endblock %}



