{% extends 'base_hr_authenticated.html' %}
{% block title %}Create Interview{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
<script src="{{ url_for('static', filename='static/js/confirmation.js') }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">
    <h1>Design Your Interview</h1>
    <form id="create-interview-form" action="{{ url_for('main.create_interview', hr_id=hr_id) }}" method="POST">
        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="language">Select the language of the interview:</label>
                <div class="select">
                    <select name="language" class="form-control" required>
                        <option value="english">English</option>
                        <option value="french">French</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="max_questions">Set the maximum number of questions:</label>
                <div class="select">
                    <select name="max_questions" id="max_questions">
                        <option value="2">2</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="duration">Set the interview duration:</label>
                <div class="select">
                    <select name="duration" class="form-control" required>
                        <option value="1">1 minute</option>
                        <option value="5">5 minutes</option>
                        <option value="15">15 minutes</option>
                        <option value="30">30 minutes</option>
                        <option value="45">45 minutes</option>
                        <option value="60">60 minutes</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="role">Choose a Role:</label>
                <div class="select">
                    <select name="role" class="form-control" id="role-select" required>
                        <option value="sales">Sales</option>
                        <option value="marketing">Marketing</option>
                        <option value="operations">Operations</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="kpi-container" style="grid-column: span 2;">
            <div class="interview-param-box-big">
                <div class="situations-container">
                    <div class="select-situation">
                        <label for="situations">Select one or multiple situations:</label>
                        <div class="select">
                        <select id="situations-select" class="form-control">
                            <option value="" disabled selected>Select a situation</option>
                            <!-- Options will be populated dynamically based on the selected role -->
                        </select>
                    </div>
                    </div>
                    <div class="selected-situations">
                        <label>Selected Situations:</label>
                        <ul id="selected-situations">
                            <!-- Selected situations will be shown here -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="industry">Choose an Industry:</label>
                <div class="select">
                    <select name="industry" class="form-control" required>
                        <option value="Blockchain/Web3">Blockchain/Web3</option>
                        <option value="FinTech">FinTech</option>
                        <option value="HR Tech">HR Tech</option>
                        <option value="Consulting">Consulting</option>
                        <option value="Banking & Finance">Banking & Finance</option>
                        <option value="e-Commerce">e-Commerce</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="Retail">Retail</option>
                        <option value="EdTech">EdTech</option>
                        <option value="Cybersecurity">Cybersecurity</option>
                        <option value="Real Estate">Real Estate</option>
                        <option value="Gaming">Gaming</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="create-button-container">
            <button type="submit" class="btn btn-primary create-interview-btn" data-action="create-itw">Create Interview</button>
        </div>
        </form>
</div>

<!-- Confirmation Modal -->
<div id="confirmation-modal" class="modal">
    <div class="modal-content">
        <p id="confirmation-message">Are you sure you want to create this interview?</p>
        <button id="confirm-yes">Yes</button>
        <button id="confirm-no">No</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const roleSelect = document.getElementById("role-select");
        const situationsSelect = document.getElementById("situations-select");
        const selectedSituationsList = document.getElementById("selected-situations");
        const interviewSituations = {{ interview_situations | tojson }};
        
        function populateSituations(role) {
            situationsSelect.innerHTML = '<option value="" disabled selected>Select a situation</option>';
            if (role in interviewSituations) {
                interviewSituations[role].forEach(situation => {
                    const option = document.createElement("option");
                    option.value = situation;
                    option.text = situation;
                    situationsSelect.add(option);
                });
            }
        }

        function addSelectedSituation(situation) {
            const li = document.createElement("li");
            li.textContent = situation;
            const input = document.createElement("input");
            input.type = "hidden";
            input.name = "situations";
            input.value = situation;
            li.appendChild(input);
            const removeButton = document.createElement("i");
            removeButton.classList.add("fas", "fa-times", "remove-btn");
            removeButton.addEventListener("click", () => {
                selectedSituationsList.removeChild(li);
                const option = document.createElement("option");
                option.value = situation;
                option.text = situation;
                situationsSelect.add(option);
            });
            li.appendChild(removeButton);
            selectedSituationsList.appendChild(li);
        }

        roleSelect.addEventListener("change", function() {
            populateSituations(roleSelect.value);
            selectedSituationsList.innerHTML = ""; // Clear the selected situations when the role changes
        });

        situationsSelect.addEventListener("change", function() {
            const selectedOption = situationsSelect.options[situationsSelect.selectedIndex];
            if (selectedOption.value !== "") {
                addSelectedSituation(selectedOption.value);
                situationsSelect.remove(situationsSelect.selectedIndex); // Remove the selected option from the dropdown
            }
        });

        populateSituations(roleSelect.value);
    });
</script>

{% endblock %}