{% extends 'base_hr_authenticated.html' %}
{% block title %}HR Homepage{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="{{ url_for('static', filename='static/js/sort_table.js') }}" defer></script>
    <script src="{{ url_for('static', filename='static/js/details.js') }}"></script>


    <h2>Welcome back, {{ hr_name }} {{ hr_surname }}</h2>
    <p>Company: {{ company_name }}</p>
    <p>Welcome to your dashboard!</p>
    <h3>General Dashboard</h3>
    {% if interview_data %}
    <table border="1">
        <tr>
            <th>Created At</th>
            <th>Industry</th>
            <th>Role</th>
            <th>Language</th>
            <th>Duration</th>
            <th>Max Questions</th>
            <th>Sessions Count</th>
            <th>Interview Link</th>
        </tr>
        {% for interview in interview_data %}
        <tr>
            <td>{{ interview.created_at.strftime('%d-%m-%Y at %H:%M:%S') }}</td>
            <td>{{ interview.industry }}</td>
            <td>{{ interview.role }}</td>
            <td>{{ interview.language }}</td>
            <td>{{ interview.duration }} minutes</td>
            <td>{{ interview.max_questions }}</td>
            <td>{{ interview.sessions_count }}</td>
            <td><a href="{{ url_for('main.applicant_home', hr_id = hr_id, interview_parameter_id=interview.interview_parameter_id) }}" target="_blank">Interview Link</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>You still have not created any interview.</p>
    {% endif %}

    {% if interview_data %}
    <h3>Detailed Dashboards</h3>
    {% for interview in interview_data %}
        <h4>Interview title: {{ interview.role }} in {{ interview.industry }}</h4>
        <div class="scrollable-table">
            <table border="1">
                <thead>
                    <tr>
                        <th class="sortable">Applicant Name</th>
                        <th class="sortable">Applicant Surname</th>
                        <th class="sortable">Applicant Email</th>
                        <th class="sortable">Start Time</th>
                        <th class="sortable">Score</th>
                        <th>See Details</th>
                    </tr>
                </thead>
                <tbody>
                {% for session in interview.sessions %}
                    <tr>
                        <td>{{ session.applicant_name }}</td>
                        <td>{{ session.applicant_surname }}</td>
                        <td>{{ session.applicant_email }}</td>
                        <td>{{ session.start_time.strftime('%d-%m-%Y at %H:%M:%S') }}</td>
                        <td>{{ session.score }}</td>
                        <td><a href="{{ url_for('main.session_details', hr_id=hr_id, session_id=session.id) }}">See Details</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    {% endif %}
    
    <script src="{{ url_for('static', filename='js/sortable.js') }}"></script>

{% endblock %}