<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tunz.ai</title>
</head>
<body>
    <h1>Welcome back, {{ hr_name }} {{ hr_surname }}</h1>
    <p>Company: {{ company_name }}</p>
    <p>Welcome to your dashboard!</p>
    <h3>Generated Interviews</h3>
    <table border="1">
        <tr>
            <th>Created At</th>
            <th>Industry</th>
            <th>Role</th>
            <th>Language</th>
            <th>Duration</th>
            <th>Max Questions</th>
            <th>Sessions Count</th>
            <th>Interview Link</th>
        </tr>
        {% for interview in interview_data %}
        <tr>
            <td>{{ interview.created_at }}</td>
            <td>{{ interview.industry }}</td>
            <td>{{ interview.role }}</td>
            <td>{{ interview.language }}</td>
            <td>{{ interview.duration }} minutes</td>
            <td>{{ interview.max_questions }}</td>
            <td>{{ interview.sessions_count }}</td>
            <td><a href="{{ url_for('main.applicant_home', interview_parameter_id=interview.interview_parameter_id) }}" target="_blank">Interview Link</a></td>
        </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('main.create_interview', hr_id=hr_id) }}" method="POST">
        <button type="submit">Create a new Interview</button>
    </form>
    <form action="{{ url_for('auth.logout') }}" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
