{% extends 'base_hr_authenticated.html' %}
{% block title %}Session Details{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 80%;
        max-width: 800px;
        max-height: 80vh; /* Adjust to fit the screen */
        overflow-y: auto; /* Enable scrolling */
    }
    h1, h2 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        color: #555;
        margin: 8px 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    ul li {
        background-color: #f9f9f9;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    ul li strong {
        color: #333;
    }
    a {
        display: inline-block;
        margin-top: 20px;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
    }
    a:hover {
        background-color: #0056b3;
    }
    .conversation-box {
        max-height: 200px; /* Adjust height as needed */
        overflow-y: auto;
        border: 1px solid #e6e6e6;
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
    }
</style>

<div class="container">
    <h2>Details of the Interview</h2>
    <p><strong>Role:</strong> {{ interview_parameter.role }}</p>
    <p><strong>Situations:</strong>
        <ul>
            {% for situation in interview_parameter.get_situations() %}
            <li>{{ situation }}</li>
            {% endfor %}
        </ul>
    </p>
    <p><strong>Industry:</strong> {{ interview_parameter.industry }}</p>
    <p><strong>Duration:</strong> {{ interview_parameter.duration }} minutes</p>
    <p><strong>Start Time:</strong> {{ session.start_time.strftime('%d-%m-%Y at %H:%M:%S') }}</p>
    <p><strong>Score:</strong> {{ result.score_result }}</p>
    <p><strong>Applicant Name:</strong> {{ applicant.name }}</p>
    <p><strong>Applicant Surname:</strong> {{ applicant.surname }}</p>
    <p><strong>Applicant Email:</strong> {{ applicant.email_address }}</p>
    <div class="criteria-scores">
        <h3>Criteria Scores</h3>
        <ul>
            {% for criteria, score in criteria_scores.items() %}
            <li><strong>{{ criteria.replace('_', ' ').title() }}:</strong> {{ score }}</li>
            {% endfor %}
        </ul>
    </div>
    <h3>Conversation</h3>
    <div class="conversation-box">
        <ul>
            {% for item in conversation %}
                {% if item.role == 'Q' %}
                    <li><strong>Q:</strong> {{ item.content }}</li>
                {% else %}
                    <li><strong>A:</strong> {{ item.content }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('main.home', hr_id=hr_id) }}">Back to Dashboard</a>
</div>
{% endblock %}
